root {
  --text: #FFFFFF;
  --background: #000000;
  --primary: #FEC400;
  --secondary: #0D0D0D;
  --accent: #787878;
}

h1 {
  font-size: 4.8rem;
  font-weight: bold;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

p {
  font-size: 1.8rem;
}

body {
  margin: 0;
  color: var(--text);
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--background);
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 3.2rem;
    color: var(--text);
  }
  .links {

    a {
      background-color: var(--primary);
      padding: 10px;
      color: var(--background);
    }
  }
}
